<!DOCTYPE html>
<html>
<head>
  <title>Danrich Parrol's Blog</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="alternate" type="application/rss+xml" title="RSS feed" href="feed.xml">
</head>
<body>
<h1>Danrich Parrol's Blog</h1>
{% for heading, posts in sections %}
<h2>{{heading}}</h2>
{% for post in posts %}
<p><a href="{{post.href}}">{{post.title}}</a>
{% endfor %}
{% endfor %}
</body>
</html>
